html {
    position: relative;
    min-height: 100%;
}
body {
    background-image: url("../images/light-grey-terrazzo.png");
    margin-bottom: 64px;
}
#doggoPic {
    max-width: 120px;
}


.footer {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 60px;
    line-height: 60px;
}